@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffaf0;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Custom Smooth Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}